.sidebar {
  width: 250px;
  background-color:#CEF3FF;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
}

.logo {
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

.nav {
  list-style: none;
  margin-top: 20px; 
  flex-grow: 1;
}

.nav li {
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav li.active {
  background-color: #4A90E2;
  color: white;
  border-radius: 5px;
}

.nav .icon {
  margin-right: 10px;
  font-size: 20px;
}

.logout {
  font-size: 16px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logout .icon {
  margin-right: 10px;
  font-size: 20px;
}

.nav li.active {
  background-color: rgb(80, 80, 186); /* Example active style */
  font-weight: bold;
}
.logo-image {
  max-width: 100px; /* Adjust as needed */
}