
.signup-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f9ff; 
    position: relative;
    overflow: hidden;
}


.signup-card {
    width: 400px; 
    background: white; 
    padding: 40px; 
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
    text-align: center;
    position: relative;
    z-index: 1;
}


.signup-title {
    font-size: 40px; 
    color: #7D8CC4; 
    font-weight: 400; 
    margin-bottom: 10px; 
}

.signup-subtitle {
    font-size: 15px; 
    color: #000000; 
    margin-bottom: 30px;
    font-weight: normal;
}

/* Form */
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}


.input-wrapper {
    position: relative;
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 12px 15px; 
    border: 1px solid #e1e1e1; 
    border-radius: 5px;
    font-size: 14px;
    background-color: #ffffff;
    outline: none;
    transition: border 0.3s;
}

.input-field::placeholder {
    color: #999; 
}

.input-field:focus {
    border-color: #7b8bc4;
}


.btn {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-btn {
    width: 100%;
    background: #7b8bc4;
    color: white;
    margin-top: 10px; 
}

.signup-btn:hover {
    background: #5f6fa1;
}


.decor-circle {
    position: absolute;
    border-radius: 50%;
    background-color: #a7d4ff; 
    z-index: 0;
}

.circle-top-left {
    width: 300px; 
    height: 300px; 
    top: -150px; 
    left: -150px; 
}

.circle-bottom-right {
    width: 300px; 
    height: 300px; 
    bottom: -150px; 
    right: -150px; 
}

.dotted-grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 8px);
    grid-template-rows: repeat(7, 8px); 
    grid-gap: 12px; 
    z-index: 0;
}

.grid-top-right {
    top: 120px; 
    right: 120px; 
}

.grid-bottom-left {
    bottom: 120px; 
    left: 120px; 
}

.dotted-grid div {
    width: 8px;
    height: 8px;
    background-color: #a7d4ff; 
    border-radius: 50%;
}

button.btn.signup-btn {
    background-color:#7D8CC4;
}

