.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f5f7fa;
  margin-left: 250px; /* Match sidebar width */
}

.table-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 60px;
}